*.exe
*.vbw
*.zip
*.log

/installer/Workspace/
!/installer/Workspace/current.ini

/installer/undo/

/installer/Temp/
!Temp/gif.tga

/installer/Prefabs/

/installer/skins/
!/installer/skins/default/
